body {
    font-family: Arial, sans-serif;
    background-color: #000; /* 背景を黒に設定 */
    color: #fff; /* テキストを白に設定 */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header {
    margin-bottom: 20px;
}

h1, h2 {
    color: #fff; /* 見出しテキストを白に設定 */
}

main {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #000; /* ボタンテキストを黒に設定 */
    background
